*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
} /*16px*/

@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300&family=Roboto:wght@100&family=Ubuntu:wght@300&display=swap");

:root {
  --greyColor: #b5bcda;
  --primaryColor-1: #738a94;
  --primaryColor-2: #3eb0ef;
  --primaryColor-3: #090a0b;
  --primaryColor-4: #3c484e;
  --black: #000;
  --white: #fff;
  --fontFamily: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  --borderRadius: 0.25rem;
  --letterSpacing: 0.5px;
  --transition: 0.3s ease-in-out all;
  --maxWidth: 1120px;
  --fixedWidth: 600px;

  /* box shadow */
  --shadow-1: 8px 14px 38px rgb(39 44 49 / 6%), 1px 3px 8px rgb(39 44 49 / 3%);
  --shadow-2: 8px 28px 50px rgb(39 44 49 / 7%), 1px 6px 12px rgb(39 44 49 / 4%);
}

body {
  background: transparent;
  font-weight: 400;
  line-height: 1;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.section-center {
  width: 92vw;
  margin: 0 auto;
  max-width: var(--maxWidth);
}

/* 
=============
Header
==========
 */

.background-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: block;
}
.background-container::before {
  bottom: 0;
  background: rgba(0, 0, 0, 0.18);
}

.nav-header-container {
  position: relative;
  background: url(./assets/status-im-header-bg.jpeg) center/cover;
  min-height: 200px;
}
.header-contents {
  text-align: center;
  padding: 4.85rem 2rem;
}
.logo {
  max-height: 45px;
  position: relative;
  z-index: 3;
}
.header-contents h2 {
  font-family: var(--fontFamily);
  font-size: 1.15rem;
  color: var(--white);
  text-transform: capitalize;
  font-style: normal;
  font-weight: 200;
  opacity: 0.8;
  letter-spacing: var(--letterSpacing);
  padding-top: 0.3rem;
}

.navlinks-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.4rem;
}

.navlinks-container {
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.navlinks-container::-webkit-scrollbar {
  display: none;
}
.nav-links {
  display: flex;
  list-style-type: none;
}
.nav-links a {
  font-family: var(--fontFamily);
  color: var(--white);
  text-transform: uppercase;
  padding: 10px 7px 10px 17px;
  opacity: 0.8;
  font-size: 0.75rem;
  letter-spacing: var(--letterSpacing);
  cursor: pointer;
}
.social-links {
  display: none;
}

/* 
=============
Article
==========
 */
.article-container {
  padding: 1.2rem 0 1rem 0;
  background: #f0f4f7;
}

.card-container > .div-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 2.5rem;
}

.single-card {
  display: flex;
  flex: 1 1 100%;
  flex-direction: row;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 1 1 300px;
  overflow: hidden;
  margin-bottom: 2.35rem;
  background-color: var(--white);
  min-height: 300px;
  border-radius: 5px;
  box-shadow: var(--shadow-1);
  transition: all 0.5s ease;
  cursor: pointer;
  font-family: var(--fontFamily);
}
.card:hover {
  box-shadow: var(--shadow-2);
  transform: translate3D(0, -1px, 0) scale(1.02);
}

.article-img {
  height: 200px;
  background: #c5d2d9 no-repeat 50%;
  border-radius: 5px 5px 0 0;
}
.card-contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
.card-content {
  padding: 1.5rem 2.5rem 0;
  height: auto;
  color: #15171a;
}
.article-category,
.article-title,
.article-time {
  font-family: var(--fontFamily);
}
.article-category {
  display: block;
  margin-bottom: 0.3rem;
  color: var(--primaryColor-1);
  font-size: 0.7rem;
  letter-spacing: var(--letterSpacing);
  font-weight: 500;
  line-height: 1.15em;
  text-transform: uppercase;
}
.article-title {
  font-size: 1.1rem;
  text-transform: capitalize;
  margin-top: 0;
  line-height: 1.15;
  font-weight: 700;
  letter-spacing: var(--letterSpacing);
}
.article-desc {
  font-family: Georgia, serif;
  line-height: 1.75em;
  letter-spacing: var(--letterSpacing);
  margin-top: 0.75rem;
  font-size: 0.9rem;
}

.article-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1.5rem;
}
.footer-logo {
  max-height: 30px;
}
.article-time {
  color: var(--primaryColor-1);
  font-size: 0.8rem;
  line-height: 33px;
  font-weight: 400;
  letter-spacing: var(--letterSpacing);
  text-transform: uppercase;
}

/* 
=============
Footer
==========
 */
.home-footer {
  padding-top: 1.5rem;
  padding-bottom: 4rem;
  background: var(--black);
  color: var(--white);
  position: relative;
}

.home-footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.copyright,
.footer-links a {
  font-size: 0.9rem;
  color: hsla(0, 0%, 100%, 0.7);
  letter-spacing: var(--letterSpacing);
  font-family: var(--fontFamily);
}
.copyright {
  padding-bottom: 0.8rem;
}

.footer-links {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-links a {
  position: relative;
  margin-left: 20px;
}
.footer-links a::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -11px;
  display: block;
  width: 2px;
  height: 2px;
  background: var(--white);
  border-radius: 100%;
}
.footer-links a:first-of-type::before {
  display: none;
}

/* 
=============
FullPost
==========
 */

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #090a0b;
  height: 4rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.nav-container .navlinks-contents {
  padding-bottom: 0;
}

.full-post-logo {
  display: block;
  width: auto;
  height: 21px;
}

.full-post-header {
  text-align: center;
  margin: 4rem auto 0 auto;
  max-width: var(--maxWidth);
  padding: 12.5vw 3vw;
}

.scroll-container {
  height: 2px;
  background: #3eb0ef;
  position: absolute;
  left: 0px;
  top: 4rem;
  transition: all 0.5s ease;
}

.full-post-time,
.full-post-category {
  font-family: var(--fontFamily);
  color: var(--primaryColor-2);
  font-size: 0.85rem;
  line-height: 1.3em;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: var(--letterSpacing);
}

.full-post-title {
  color: var(--primaryColor-3);
  letter-spacing: var(--letterSpacing);
  font-weight: 600;
  font-size: 1.85rem;
  text-transform: capitalize;
  font-family: var(--fontFamily);
}

.full-post-image {
  height: 380px;
  margin-bottom: 4vw;
}

.post-content {
  font-family: Georgia, serif;
  line-height: 1.6em;
}

.post-content p {
  font-family: var(--fontFamily);
  color: var(--primaryColor-4);
  margin-bottom: 2rem;
  letter-spacing: var(--letterSpacing);
  font-size: 1rem;
}

@media screen and (min-width: 500px) {
  .post-content {
    width: 92vw;
    margin: 0 auto;
    padding: 3rem;
    position: relative;
    top: -7rem;
    background: #fff;
  }

  .full-post-header {
    padding: 8vw 3vw 4vw 3vw;
  }
  .full-post-title {
    font-size: 3.2rem;
    font-weight: 600;
  }
}

@media screen and (min-width: 700px) {
  .navlinks-container {
    width: 81%;
  }
  .nav-links a {
    padding: 10px 7px 10px 27px;
  }
  .social-links {
    display: flex;
    width: 15%;
    flex-shrink: 0;
  }
  .social-link {
    padding-right: 0.5rem;
  }
  .social-link svg {
    height: 1rem;
    fill: var(--white);
    opacity: 0.8;
  }
  .article-container {
    padding: 3rem 0 1rem 0;
    background: #f0f4f7;
  }
  .home-footer-content {
    flex-direction: row;
  }
  .header-contents {
    padding: 7rem 2rem 3rem 2rem;
  }
  .nav-container .social-link {
    padding-right: 1.3rem;
  }
}

@media screen and (min-width: 800px) {
  .header-contents {
    padding: 6.2rem 2rem;
  }
  .social-link {
    padding-right: 1rem;
  }
  .article-container {
    padding: 2.5rem 0 1rem 0;
  }
  .full-post-image {
    height: 600px;
  }
  .footer-links a:first-child {
    margin-left: 0;
  }
  .single-card .article-desc {
    font-size: 1.2rem;
  }
  .card-container > .div-wrapper .single-card {
    flex-direction: row;
    flex: 1 1 100%;
  }

  .single-card .article-img {
    height: 100%;
    background: #c5d2d9 no-repeat 50%;
    border-radius: 5px 5px 0 0;
    position: absolute;
  }
  .single-card .card-content {
    height: auto;
  }
  .single-card .card-contents-image {
    width: 55%;
    position: relative;
  }

  .single-card .card-contents-link {
    width: 45%;
  }
}

@media screen and (min-width: 900px) {
  .header-contents {
    padding: 6rem 2rem 2rem 2rem;
  }
  .full-post-header {
    padding: 7vw 3vw 2.5vw 3vw;
  }

  .post-content {
    width: 92vw;
    margin: 0 auto;
    padding: 3rem;
    position: relative;
    top: -9rem;
    background: #fff;
  }
  .navlinks-contents {
    padding: 0 0 5.85rem 0.75rem;
  }
  .social-link {
    padding-right: 1.2rem;
  }

  .card-container {
    position: relative;
  }
  .div-wrapper {
    margin-top: -7rem;
  }
  .single-card .card-contents-image {
    width: 65%;
    position: relative;
  }

  .single-card .card-contents-link {
    width: 35%;
  }
  .header-contents h2 {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 990px) {
  .section-center {
    width: 80vw;
  }
  .header-contents {
    padding: 8rem 2rem 5rem 2rem;
  }
  .navlinks-container {
    overflow-x: hidden;
    width: auto;
  }
  .social-links {
    width: auto;
  }

  .navlinks-contents {
    padding: 0 0.5rem 5.85rem 0;
    width: 85vw;
    margin: 0 auto;
  }
  .post-content {
    width: 80vw;
  }
  .full-post-image {
    height: 800px;
  }
}
